<!DOCTYPE html>
<html>
<head>
  <title>ADC: Chip viewer</title>
  <script src="{{ url_for('static', filename='io.js') }}"></script>

</head>
<body>
    <p><a href="{{data.meta.back_url}}">back</a> </p>
    <h3>{{data.meta.ab_type}}: {{data.meta.ab_conc}} {{data.meta.ab_unit}} (#{{data.meta.stack_index}})</h3>
    <p>{{data.meta.path}}</p>
    <div>
      {% for feature in data.meta.all_features %}
        <label><input type="radio" name="category" value={{feature.id}} >{{feature.name}}</label>
      {% endfor %}
    </div>
    <p><a href="{{data.meta.prev_chip}}">prev</a> | <a href="{{data.meta.next_chip}}">next</a></p>
    <canvas id="myCanvas"></canvas>
    <script>
      // console.log({data});
      const DEFAULT_CIRCLE_COLOR = "#ffffff60";
      let cur_color="#000";
      let cur_cat=-1;
      const jsdata = {{data | tojson}};
      console.log(jsdata);
      const {imgData: img, meta} = jsdata;
      console.log(img);
      console.log(meta);

      const canvas = document.getElementById("myCanvas");
      const context = canvas.getContext("2d");
      
      const image = new Image();
      image.src = `data:image/jpeg;base64,${img.value}`;
      
      const circles = meta.centers;
      const chip_id = meta.chip_id;
      const features = meta.features;
      console.log(features);

      circles.map(circle => circle.cat = [] )
      features.map(({table_id, droplet_id, feature_id}) => {
        circles[droplet_id - 1].push(feature_id);
        circles[droplet_id - 1].table_id=table_id;
      });

      image.onload = () => {
        canvas.width = image.width;
        canvas.height = image.height;
        context.drawImage(image, 0, 0);
        redraw();
        
        // Add click event listener to the canvas
        canvas.addEventListener("click", (event) => {
            const x = event.clientX - canvas.offsetLeft;
            const y = event.clientY - canvas.offsetTop;
            if (cur_cat < 0) alert("select category first!");
            else {
              circles.forEach(circle => {
                  if (isPointInsideCircle(x, y, circle)) {
                    if (!circle.cat.includes(cur_cat)) {
                      circle.cat.push(cur_cat);
                      console.log(`Add ${circle.id} cat ${cur_cat}`);
                      redraw();
                      post(1,chip_id,circle.id, cur_cat, 1).then(console.log).catch(console.log)
                    }else{
                      circle.cat.pop(cur_cat);
                      console.log(`Remove ${cur_cat} from ${circle.id}`);
                      redraw();
                      remove(chip_id,circle.id).then(console.log).catch(console.log)
                    }
                  } 
                });
            }
        });
      };
      function drawCircle(circle) {
        context.beginPath();
        context.arc(circle.x, circle.y, circle.size / 2, 0, 2 * Math.PI);
        context.strokeStyle = circle.cat > 0 ? colors[circle.cat - 1] : DEFAULT_CIRCLE_COLOR;
        context.lineWidth = 2;
        context.stroke();
      }
      
      function isPointInsideCircle(x, y, circle) {
        const distance = Math.sqrt((x - circle.x) ** 2 + (y - circle.y) ** 2);
        return distance <= circle.size / 2;
      }
      
      function redraw() {
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.drawImage(image, 0, 0);
        circles.forEach(circle => drawCircle(circle));
      }
      
      // Add click event listener to the canvas
      
      
      // Resize canvas when the window is resized
      window.addEventListener("resize", () => {
        canvas.width = image.width;
        canvas.height = image.height;
        redraw();
      });

      

      const radioButtons = document.querySelectorAll('input[name="category"]');
      radioButtons.forEach(radioButton => {
        radioButton.addEventListener("change", () => {
          cur_cat = radioButton.value;
          cur_color = colors[cur_cat-1]
          console.log(`category selected ${cur_cat} (${cur_color})`);
          // const color = categoryColors[category];
          // circles.forEach(circle => {
          //   if (circle.category === category) {
          //     circle.color = color;
          //   }
          // });
          // redraw();
        });
      });
      
    </script>
    <!-- <ul>
        {% for d in data %}
            <li><img id="my-image" src="data:image/jpeg;base64,{{d.data}}" alt={{d.name}}></li>
        {% endfor %}
    </ul> -->
    <p><a href="{{data.meta.prev_chip}}">prev</a> | <a href="{{data.meta.next_chip}}">next</a></p>
    
</body>
</html>
