<!DOCTYPE html>
<html>
<head>
    <title>data page</title>
</head>
<body>
    <p><a href="/">Home</a> </p>
    <h3>
        {{data[0].antibiotic_type}}
    </h3>
    <ul>
        {% for d in data %}
            <li><p>{{d.date}}</p></li>
            <ul>
                {% for c in d.concentrations %}
                <li>{{c.value}} {{c.unit}} --- <a href="/droplet/{{c.chip_id}}/1 ">droplets</a> | <a href="/chip/{{c.chip_id}} ">chip</a> 
                {% for f, count in c.features.items()%}
                    <span> {{f}}: {{count}} </span>
                {% endfor %}

                </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
    
</body>
</html>
