<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADC-NN</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='/favicon-16x16.png') }}">
    <link rel="icon" type="icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest') }}">
</head>
<body>
    <h1>ADC-NN platform.</h1>
    
    <h2>Check raw data for the following antibiotics:</h2>
    <ul>
        {% for antibiotic_type in unique_antibiotic_types %}
            <li><a href="/ab_type/{{antibiotic_type}}">{{ antibiotic_type }}</a></li>
        {% endfor %}
    </ul>

    <h2>Assign labels to the random droplets for training</h2>
    <a href="/droplets/5">Start</a> (Change the number  to get more images)

    
    <h2>Reorder features</h2>
    <a href="/sort_features">Reorder by drag and drop</a> 

    
</body>
</html>
